body {
    background-image: url("../img/background.png");
    background-size: 100% auto;
    background-position: 0px 0px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.thumbnail {
    width: 100px;
    height: 100px;
}